<!DOCTYPE html>
<html>
<head>
    <title>Student Management System</title>
    <link rel="stylesheet" href="/styles.css">

  <body>
        <div class="container">
            <h1>University Management System</h1>
            <div class="search-container">
                <input type="text" id="searchInput" placeholder="Search by name or student ID">
                <button id="searchButton">Search</button>
            </div>
            <div id="studentData" class="student-data">
                
            </div>
        </div>
        <script src="script.js"></script>
    </body>
    </html>
    